---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://wa.me/628113939228",
    description: "Reach us in WhatsApp",
    icon: "fa-brands:whatsapp",
  },
  {
    url: "mailto:reservation@7seascottages.com",
    description: "Email us for reservations.",
    icon: "mdi:email",
  },
  {
    url: "https://instagram.com/7seascottages",
    description: "Follow us on Instagram.",
    icon: "fa-brands:instagram",
  },
];
---

<footer class="relative flex h-full items-center justify-center" id="contact">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <div>
    <div class="mb-4">
      <h2 class="text-lg font-bold text-center text-gray-500">
        <span class="block">Contact Us</span>
      </h2>
    </div>
    <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-3">
      {
        links.map((link) => (
          <li>
            <a
              class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
              href={link.url}
            >
              <span class="sr-only">{link.description}</span>
              <Icon class="h-full" name={link.icon} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>
