---
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <!-- a centered div with text inside it -->
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold text-white">
        Your escape to <br /> paradise.
      </h1>
    </div>
  </div>

  <noscript>
    <style>
      #splash-bg-fallback {
        display: block;
      }
    </style>
  </noscript>

  <style>
    @keyframes float {
      0% {
        transform: translate3d(0, 0, 0);
      }

      100% {
        transform: translate3d(0, 30px, 0);
      }
    }

    @media (prefers-reduced-motion: reduce) {
      #astronaut {
        @apply animate-none;
      }

      :global(#starfield) {
        @apply hidden;
      }

      #splash-bg-fallback {
        @apply block;
      }
    }
  </style>
</section>
